.main-wrapper {
    height: calc(100vh - 75px);
    background-color: #f7f7f8;

    aside {
        width: 250px;
        padding: 20px;
        background-color: $color-primary;
        flex-shrink: 0;

        ul {
            list-style: none;
            padding: 0;

            li {
                color: white;
                line-height: 2rem;
                padding: 8px;
                border-radius: 10px;

                a {
                    color: white;
                    text-decoration: none;
                    margin-left: 10px;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }
        }
    }

    .wrapper-tech {
        max-width: 500px;
    }

    .wrapper-tech,
    .wrapper-projects {
        margin: 0 auto;
        padding: 0 50px;

        h2 {
            color: $color-primary;
        }

        table {
            vertical-align: middle;

            th {
                background-color: $color-primary;
                height: 50px;
                color: white;
                vertical-align: middle;
            }
            td {
                input {
                    border: none;
                    background-color: transparent;
                    outline: none;
                }

                button {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

    .form-custom,
    .form-custom-alerts {
        margin: 0 auto;
        max-width: 900px;
    }

    .card {
        .card-img-box {
            width: 400px;
            background-color: gainsboro;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
